/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* utility classes */
.flex-centered-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-shadow {
  -webkit-box-shadow: 0px 0px 16px -3px #000000;
  box-shadow: 0px 0px 16px -3px #000000;
}

.font-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.font-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-3 {
  font-family: "Pacifico", cursive;
}

.use-viewport-height {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.light-bg {
  background-color: #ffffff;
}

.dark-bg {
  background-color: #333333;
}

.light-blue {
  color: #35bdf6;
}
.white {
  color: #ffffff;
}

/* cover style */

.cover {
  height: 40vh;
  width: 100vw;
  background-color: #031e32;
}

.cover .header {
  height: 10%;
  font-size: 20px;
}

.cover .hello {
  height: 90%;
  width: 100%;
}

.cover .hello .intro {
  margin: auto;
  padding-top: 80px;
  height: 60%;
  width: 70%;
  text-align: center;
  font-size: 50px;
}

.cover .hello .nav {
  margin: auto;
  height: 40%;
  width: 200px;
  padding-bottom: 100px;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
.cover .hello .nav li a {
  text-decoration: none;
}
