/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  border-radius: 7px;
}

/* utility classes */
.flex-centered-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-shadow {
  -webkit-box-shadow: 0px 0px 16px -3px #000000;
  box-shadow: 0px 0px 16px -3px #000000;
}

.font-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.font-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-3 {
  font-family: "Pacifico", cursive;
}

.use-viewport-height {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.light-bg {
  background-color: #ffffff;
}

.dark-bg {
  background-color: #333333;
}

.light-blue {
  color: #35bdf6;
}
.white {
  color: #ffffff;
}

/* cover style */

.cover {
  height: 300px;
  width: 100vw;
  background-color: #031e32;
  box-shadow: 0px -1px 51px 3px rgba(0, 0, 0, 0.55);
}

.cover .header {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  height: 10%;
  font-size: 20px;
}
.cover .header .nav {
  list-style: none;
  height: 40%;
  width: auto;
  /* padding-bottom: 100px; */
  display: flex;
  align-items: center;
}

.cover .header .nav li a {
  padding: 0 0.4rem;
  /* background-color: #35bdf6; */
}

.cover .header .nav li a:hover {
  background-color: #35bdf6;
  color: #031e32;
}

.cover .header .nav li a {
  text-decoration: none;
}

.cover .hello {
  height: 90%;
  width: 100%;
}

.cover .hello .intro {
  margin: auto;
  padding: 80px 30px 0px 30px;
  height: 60%;
  width: fit-content;
  text-align: left;
  font-size: 50px;
  /* justify-self: center; */
}

.portfolio {
  /* position: relative; */

  /* background-color: #ffffff; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* portfolio style */
.folio-container {
  /* min-height: 70%; */
  /* height: 70%; */

  width: 70%;

  margin: 50px auto; /*T R B L / TB LR*/
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  grid-gap: 50px;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  border-radius: 7px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  background-color: #ffffff;
}

.description {
  padding: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-weight: 400;
  font-family: "IBM Plex Sans", sans-serif;
  color: #031e32;
}

.description a {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.description a:hover {
  background-color: #35bdf6;
  border: 2px solid #000000;
  color: #031e32;
  cursor: pointer;
}

.image-container {
  /* box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.7); */
  border-radius: 7px;
}

.stack {
  /* min-height: 600px; */

  font-size: 40px;

  background-color: #031e32;
}

/* also use stack bg for portfolio so keep it fixed and remove portfolio bg */
.stack .stack-bg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  opacity: 0.3;
  z-index: -1;
}

.stack .stack-container {
  min-height: 400px;
}

.stack .stack-container .stack-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  max-width: 1000px;
}

.stack .stack-container .stack-icons i {
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.resume {
  height: 70vh;
  background-color: #35bdf6;
}

@media screen and (min-width: 900px) {
  .folio-container {
    width: 700px;
  }
}

@media screen and (min-width: 1150px) {
  .folio-container {
    width: 950px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cover {
    height: 450px;
  }
}

@media screen and (max-width: 1430px) {
  .cover .hello .intro {
    font-size: 40px;
  }
}
@media screen and (max-width: 1150px) {
  .cover .hello .intro {
    font-size: 30px;
  }

  .cover .header {
    font-size: 15px;
  }

  .cover .header {
    max-width: 63%;
  }

  .stack .stack-container .stack-icons {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media screen and (max-width: 855px) {
  .cover .hello .intro {
    font-size: 20px;
  }

  .cover .header {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .folio-container {
    grid-template-columns: 1fr;
    grid-gap: 40px;
    max-width: 300px;
  }

  .project {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    height: 300px;
  }

  .cover .hello .nav,
  .description {
    font-size: 12px;
  }

  .stack .stack-container .stack-icons {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: smaller;
  }
}

@media screen and (max-width: 570px) {
  .stack .stack-container .stack-icons {
    font-size: 1.4rem;
  }

  .cover .header {
    max-width: 90%;
    font-size: 0.5rem;
  }
}
